<mat-card style="width:1100px;margin-left:auto; margin-right:auto;">
    <h1>List of entity types</h1>
    <br>
    <button mat-raised-button  style="margin-left: 10px; margin-bottom: 30px; background-color: cornflowerblue" routerLink="add">Create</button>
    <br><br>
<div>
    <div style="overflow-x:auto;">
      <table class="table table-bordered table-striped" style="margin-left:auto; margin-right:auto;">
        <thead class="thead-dark">
          <tr>
            <th *ngFor="let head of headElements" >{{head}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let type of type| paginate
          : {
              itemsPerPage: tableSize,
              currentPage: page,
              totalItems: count
            };
      let i = index
    ">
            <td>{{ type.name }}</td>
            <td><li *ngFor="let classe of type?.classe; let i = index">{{type.classe[i].name}}</li></td>
           <td><div *ngIf="type.description==null"> _____ </div>
                  <div *ngIf="type.description!=null">{{type.description}}</div></td>
              <td> <div *ngIf="type.active==false">&nbsp;&nbsp;&nbsp;&nbsp;<i style=" color: red;" class="fa fa-remove"></i> </div>
                <div *ngIf="type.active">&nbsp;&nbsp;&nbsp;&nbsp;<i style="color: green;" class="fa fa-check"></i></div> </td>

                

              
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center"  style="margin-left: 800px;" >
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</mat-card>