
        <div class="body"> </div>
        <div  class='container2'>
          <div class="header" >
          <img src="/../assets/GAT.png" alt="GAT" >
          <br>
          <h3> A u j o u r d ' h u i &nbsp;&nbsp;&nbsp;&nbsp;   P o u r &nbsp;&nbsp;&nbsp;&nbsp;   D e m a i n </h3>
          
        </div>
          <div class="cont">
          <div class="form sign-in">
            <form  (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <h2>Welcome back</h2>
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                {{errorMessage}}
              </div>
              <div class="form-group" [ngClass]="{'has-error': f.submitted && !username.valid}">
            <label>
              <span>Username</span>
              <input type="text" name="username"  id="username" [(ngModel)]="user.username" #username="ngModel" required/>
                  <div class="alert alert-danger" *ngIf="f.submitted && !username.valid">
                    An valid username is required.
                  </div>
            </label>
            </div>
            <div class="form-group" [ngClass]="{'has-error': f.submitted && !password.valid}">
            <label>
              <span>Password</span>
              <input type="password" name="password" id="password" [(ngModel)]="user.password" #password="ngModel" required/>
              <div class="alert alert-danger" *ngIf="f.submitted && !password.valid">
                Password is required.
              </div>
            </label>
            </div>
            <button type="submit" class="submit">Sign In</button>
        </form>
        <br>
        <HR NOSHADE>
        <p class="signup">Don't have an account? &nbsp; <a [routerLink]="['/register']" >Sign up</a></p>
      </div>
    </div>