<h1 style="text-align: center;">Welcome to our solution</h1>
<!--mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>
        <div class="content-dash">
        <div class="rectangle">
            <a>
                <img  alt="nombre de session" class="icon">
                {{taille}} sessions
            </a>
    
        </div>
    
    
        <div class="rectangle2 ">
            <a>
                <img alt="nombre des participant " class="icon">
                {{tailleParticipants}} participants
            </a>
    
        </div>
        </div>
        <div class="content-dash">
        <div class="rectangle3">
            <a>
                <img src="assets/formateurs.png" alt="nombre des formateurs " class="icon">
                {{tailleFormateurs}} Formateurs
            </a>
    
        </div>
        <div class="rectangle3">
            <a>
                <img src="assets/formateurs.png" alt="nombre des formateurs " class="icon">
                {{tailleFormateurs}} Formateurs
            </a>
    
        </div>
    </div>
    </mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list-->

